DATABASE_URL="postgresql://postgres:postgres@localhost:5432/barex?schema=public"
GEMINI_API_KEY=AIzaSyCgssEnU1QN1MB-NiSd17kUWx7Gef67ofc
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
